
@{
    ViewData["Title"] = "AllServices";
}

<h1>AllServices</h1>
<div>
    <div>
        <a asp-action="CustomerServices">View Customer services</a>
    </div>
    <div>
        <a asp-action="AccountServices" >View Account Services</a>
    </div>
    <div>
        <a asp-action="LoanServices">View Loan Services</a>
    </div>
    <div>
        <a asp-action="TransactionServices">View Transaction Services</a>
    </div>
</div>


