<div class="container">
    <app-navbar></app-navbar>
    <div class="container-2">
        <div class="contact">
            <div class="contactRightBar"></div>
            <div class="contactContainer" style="width: 800px;">
                <form class="contactContainerForm">
                    <h4>Transfer Money</h4>
                    <input
                        type="text"
                        placeholder="To account number"
                        required
                        value=""
                    />
                    <input
                        type="text"
                        placeholder="Confirm to account"
                        required
                        value=""
                    />
                    <input
                        type="text"
                        placeholder="IFSC"
                        required
                        value=""
                    />
                    <input
                        type="number"
                        placeholder="Amount"
                        required
                        value=""
                        min="1"
                    />
                    <Button variant="contained" type="submit">
                        Proceed
                    </Button>
                </form>
            </div>
        </div>
    </div>
</div>


