.account_Details_Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.Header_accountDetailsSection{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: aliceblue;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.146);
}
.Header_accountDetailsSection div{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}
.Header_accountDetailsSection div img{
    width: 2.5rem;
    height: 2.5rem;
}
.main_accountDetailsSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 5rem;
}
.cardsSection{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}
.cardsSection .card{
   width: 350px;
   height: 200px;
   margin-top: 4rem;
   margin-bottom: 2rem;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.094),
   -10px -10px 5px #ffffffc9; */
   box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
   font-family: 'Courier New', Courier, monospace;
   font-weight: 500;
   transform: scale(1);
   transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
   cursor: pointer;
   background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
    margin-left: 10px;


}
.cardsSection .card:hover{
    transform: scale(1.05);
}
.cardsSection .card div{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.card>div>h3{
    margin-top: 4rem;
}
.cardsSection .card div img{
    width: 2rem;
    height: 2rem;
    margin-top: -4rem;
}
.popUpCard div img{
    width: 1.2rem;
    height: 1.2rem;
}
.popUpCard{
    position: absolute;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    top: -1000px;
    height: 200px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    transition: 0.5s;
}
.getCard{
    top: 200px;
}
.popUpCard .popUpCard_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    top: 0;
}
.popUpCard .popUpCard_main{
    position: absolute;
    width: 100%;
    top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.popUp_recentTransaction .popUpCard_main{
    top: 50px;
}
.popUpCard .popUpCard_footer,
.transectionHistoryContainer{
    position: absolute;
    width: 100%;
    top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.popUpCard .transectionHistoryContainer{
    flex-direction: column;
    height: 100px;
    top: 100px;
    overflow: hidden;
    overflow-y: auto;
    justify-content: flex-start;
    padding-top: 10px;
}
.popUpCard .transectionHistoryContainer li{
    margin-top: 10px;
}
.popUpCard .popUpCard_header button{
    outline: none;
    border: none;
    background: transparent;
}
.popUp_recentTransaction .popUpCard_main,
.popUp_changePassword .popUpCard_footer button,
.popUp_changePassword .popUpCard_main button,
.popUp_accountSummary .popUpCard_main button{
    outline: none;
    border: none;
    background: transparent;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.176);
    cursor: pointer;
    transition: 0.5s;
}
.popUp_recentTransaction .popUpCard_main:hover,
.popUp_changePassword .popUpCard_footer button:hover,
.popUp_changePassword .popUpCard_main button:hover,
.popUp_accountSummary .popUpCard_main button:hover{
    background-color: rgb(25, 250, 0);
    color: white;
    transform: scale(1.2);
}
.popUp_changePassword input{
  outline: none;
  border: none;
  width: 50%;
  height: 2rem;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.176);
}
.popUp_transferAmount{
  top: initial;
}
.emptyListTag{
    position: absolute;
    bottom: 30px;
}
li{
    list-style:none
}
